body {
  background-color: #FFFFFF;
  color: rgb(93, 58, 0);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 40px 20px 20px;
  background-color: rgba(243, 164, 95, 0.885);
  border-radius: 10px;
  border: 2px solid #F18532;
}
input[type='text'],
input[type='email'],
input[type='number'],
input[type='tel'] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  background-color: #FFFFFF;
  color:rgb(93, 58, 0);
  font-size: 16px;
}
.radio-group,
.checkbox-group {
  margin-bottom: 10px;
  font-size: 18px;
}

.list-option {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 5px;
}

label {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.checkbox-group label {
  line-height: 2;
}
button[type='submit'] {
  background-color: #F18532;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button[type='submit']:hover {
  background-color: #F2AE6B;
}